docs/n8n/matching-v2-workflow.json
{
  "name": "concoro-matching-v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "concoro-matching-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst out = {\n  user_id: body.user_id ?? body.userId ?? null,\n  request_id: body.request_id ?? body.requestId ?? $execution.id,\n  profile_json: body.profile_json ?? null,\n  cv_text: body.cv_text ?? null,\n};\nreturn [{ json: out, binary: $binary }];"
      },
      "id": "Code_1",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cv-pdf-branch",
              "leftValue": "={{ !!$binary.cv_pdf }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_1",
      "name": "Has CV PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        260
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "cv_pdf",
        "options": {}
      },
      "id": "Extract_File_1",
      "name": "PDF to Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        900,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const txt = $json.text ?? $json.data ?? null;\nconst previous = $item(0).$node[\"Normalize Input\"].json;\nreturn [{ json: { ...previous, cv_text: txt ?? previous.cv_text } }];"
      },
      "id": "Code_2",
      "name": "Attach CV Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $json }];"
      },
      "id": "Code_3",
      "name": "Skip CV Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MATCHING_V2_API_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-matching-secret",
              "value": "={{ $env.MATCHING_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": $json.user_id,\n  \"request_id\": $json.request_id,\n  \"profile_json\": $json.profile_json,\n  \"cv_text\": $json.cv_text\n}",
        "options": {}
      },
      "id": "HTTP_Request_1",
      "name": "Call Matching API v2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "Respond_1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1560,
        260
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has CV PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has CV PDF?": {
      "main": [
        [
          {
            "node": "PDF to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip CV Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Text": {
      "main": [
        [
          {
            "node": "Attach CV Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach CV Text": {
      "main": [
        [
          {
            "node": "Call Matching API v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip CV Parse": {
      "main": [
        [
          {
            "node": "Call Matching API v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Matching API v2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
